@CHARSET "ISO-8859-1";

body {
	background-color: lightgray;
	color: black;
}



div.welcome {
	text-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	font-size: 20;
}

div.basic-text {
	text-family: "Times New Roman", Times, serif;
	font-size: 12;
}